div{
    border: 2px solid black;
    background: red;
    width: 100px;
    height: 100px;
    position: relative;
    animation-name: anime;
   animation-duration :2s ; 
   animation-iteration-count: 100;
  
}

@keyframes anime{
    0%{background-color: aqua;left: 0px;top: 0px;}
    25%{background-color:chartreuse;left: 0px;top: 150px;}
    50%{background-color:crimson;left: 0px;top: 300px;}
    75%{background-color:blue;left: 150px;top: 0px;}
    100%{background-color:blueviolet;left: 300px;top: 0px;}
    125%{background-color:coral;left: 300px;top: 300px;}
}