<h1>User Details Form</h1>

Name  :<input type="text" placeholder="Enter Your Name" [(ngModel)]="fname"><br><br>
Tel  :<input type="text" placeholder="Enter Your Telphone No" [(ngModel)]="tel"><br><br>
Password :<input type="password" placeholder="Enter Your Password" [(ngModel)]="pass" ><br><br>
<p>My name is {{fname}} </p>
<p>My telphone no is {{tel}} </p>
<p>My password is {{pass}} </p>
<button (click)="resetDetails()"  [disabled]="checkDetails()" >RESET</button>
<button type="submit" formmethod="post" [disabled]="checkDetails()">Submit</button>
